body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
     background: linear-gradient(to right,red,orange,yellow);
 }

 table,tr,td,th,caption {
 border: 1px solid #eee;
 font-family:'Courier New', Courier, monospace ;
 padding: 0.5em;
 border-collapse: collapse;
 }
 a{
     text-decoration: none;
 }
 span{
    font: bold 20px ;
    font-weight: bold;
 }
 .hello{
    font-variant: small-caps;
    text-align: center;
    font-size: 50px;
    background-image: url(download.jpg);
    color: transparent;
    background-clip: text;
 }
